.transparent:before{
  content: "";
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  position: absolute;
  z-index: 10;
  
}


.form-container {
    margin-left: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 3%;
    .form-container::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 85%;
      height: 1px;
      background-color: rgb(138, 137, 137);
      display: block;
      top: 10%;
      left: 21%;

    }
    .form-coupler {
      display: flex; 
      flex-direction: row; 
      gap: 24px;
      
    }  
    .form-components {
      color: #707070;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; 
      display: block;
      margin-bottom: 12px;
        
    }
    .inputs {
      width: 400px;
      height: 30px;
      border-radius: 4px;
      border: 1px solid #DADADA;
      background: #FFF;
      padding: 10px;  
  
    }
    .inputs:focus {
      outline: 0;
    }
    .little-red-star {
      width: 9px;
      height: 24px;
      color: var(--Main-Color, #D70101);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      margin-top: -3px;
    }
    textarea {
      width: 850px;
      height: 180px;
      border-radius: 4px;
      border: 1px solid #DADADA;
      background: #FFF;
      padding: 10px;
    } 
    textarea:focus {
      outline: 0;
    }                                                                                           
  
  }

  .confirm-btn {
        width: 150px;
        height: 40px;
        position: absolute;
        background-color: rgb(126, 73, 226);
        display: flex;
        align-items: center;
        border-radius: 4px;
        justify-content: center;
        padding: 10px;
        right: 5%;
        bottom: 5%;
        a {
        color: white;
        font-size: 15px;
        }
    }
    .alert-popup {
      width: 350px;
      height: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background-color: white;
      color: rgb(245, 168, 27);
      border-radius: 6px;
      opacity: 0; 
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
     span{
        position: absolute;
        right: 5%;
        top:5%;
        font-size: 18px;
        color: rgb(113, 113, 113)
     }
    }
    
   




