

*{
   text-decoration: none;
   list-style: none;
   font-family: "Roboto", sans-serif;
   overflow: hidden;
}

@import "./staff";
@import "./service";
@import "./confirmation";
@import "./dateTime"

